<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar productos</title>
</head>
<body>
    <div class="container">
        <h2>Editar productos</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
            <a href="/listarUsuarios" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
